In [1]:
#read file
import pandas as pd
pd.read_csv('landingcompany.csv')

,OrderDate,Region,Manager,SalesMan,Item,Units,Unit_price,Sale_amt
0,1-6-18,East,Martha,Alexander,Television,95.0,"1,198.00","113,810.00"
1,1-23-18,Central,Hermann,Shelli,Home Theater,50.0,500.00,"25,000.00"
2,2-9-18,Central,Hermann,Luis,Television,36.0,"1,198.00","43,128.00"
3,2-26-18,Central,Timothy,David,Cell Phone,27.0,225.00,"6,075.00"
4,3-15-18,West,Timothy,Stephen,Television,56.0,"1,198.00","67,088.00"
5,4-1-18,East,Martha,Alexander,Home Theater,60.0,500.00,"30,000.00"
6,4-18-18,Central,Martha,Steven,Television,75.0,"1,198.00","89,850.00"
7,5-5-18,Central,Hermann,Luis,Television,90.0,"1,198.00","107,820.00"
8,5-22-18,West,Douglas,Michael,Television,32.0,"1,198.00","38,336.00"
9,6-8-18,East,Martha,Alexander,Home Theater,60.0,500.00,"30,000.00"
10,6-25-18,Central,Hermann,Sigal,Television,90.0,"1,198.00","107,820.00"
11,7-12-18,East,Martha,Diana,Home Theater,29.0,500.00,"14,500.00"
12,7-29-18,East,Douglas,Karen,Home Theater,81.0,500.00,"40,500.00"
13,8-15-18,East,Martha,Alexander,Television,35.0,"1,198.00","41,930.00"
14,9-1-18,Central,Douglas,John,Desk,2.0,125.00,250.00
15,9-18-18,East,Martha,Alexander,Video Games,16.0,58.50,936.00
16,10-5-18,Central,Hermann,Sigal,Home Theater,28.0,500.00,"14,000.00"
17,10-22-18,East,Martha,Alexander,Cell Phone,64.0,225.00,"14,400.00"
18,11-8-18,East,Douglas,Karen,Cell Phone,15.0,225.00,"3,375.00"
19,11-25-18,Central,Hermann,Shelli,Video Games,96.0,58.50,"5,616.00"
20,12-12-18,Central,Douglas,John,Television,67.0,"1,198.00","80,266.00"
21,12-29-18,East,Douglas,Karen,Video Games,74.0,58.50,"4,329.00"
22,1-15-19,Central,Timothy,David,Home Theater,46.0,500.00,"23,000.00"
23,2-1-19,Central,Douglas,John,Home Theater,87.0,500.00,"43,500.00"
24,2-18-19,East,Martha,Alexander,Home Theater,4.0,500.00,"2,000.00"
25,3-7-19,West,Timothy,Stephen,Home Theater,7.0,500.00,"3,500.00"
26,3-24-19,Central,Hermann,Luis,Video Games,50.0,58.50,"2,925.00"
27,4-10-19,Central,Martha,Steven,Television,66.0,"1,198.00","79,068.00"
28,4-27-19,East,Martha,Diana,Cell Phone,96.0,225.00,"21,600.00"
29,5-14-19,Central,Timothy,David,Television,53.0,"1,198.00","63,494.00"
30,5-31-19,Central,Timothy,David,Home Theater,80.0,500.00,"40,000.00"
31,6-17-19,Central,Hermann,Shelli,Desk,5.0,125.00,625.00
32,7-4-19,East,Martha,Alexander,Video Games,62.0,58.50,"3,627.00"
33,7-21-19,Central,Hermann,Sigal,Video Games,55.0,58.50,"3,217.50"
34,8-7-19,Central,Hermann,Shelli,Video Games,42.0,58.50,"2,457.00"
35,8-24-19,West,Timothy,Stephen,Desk,3.0,125.00,375.00
36,9-10-19,Central,Timothy,David,Television,7.0,"1,198.00","8,386.00"
37,9-27-19,West,Timothy,Stephen,Cell Phone,76.0,225.00,"17,100.00"
38,10-14-19,West,Douglas,Michael,Home Theater,57.0,500.00,"28,500.00"
39,10-31-19,Central,Martha,Steven,Television,14.0,"1,198.00","16,772.00"
40,11-17-19,Central,Hermann,Luis,Home Theater,11.0,500.00,"5,500.00"
41,12-4-19,Central,Hermann,Luis,Home Theater,94.0,500.00,"47,000.00"
42,12-21-19,Central,Martha,Steven,Home Theater,28.0,500.00,"14,000.00"
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
#head method
import pandas as pd
data = pd.read_csv('landingcompany.csv')
data = data.copy()
data.head()

,OrderDate,Region,Manager,SalesMan,Item,Units,Unit_price,Sale_amt
0,1-6-18,East,Martha,Alexander,Television,95.0,"1,198.00","113,810.00"
1,1-23-18,Central,Hermann,Shelli,Home Theater,50.0,500.00,"25,000.00"
2,2-9-18,Central,Hermann,Luis,Television,36.0,"1,198.00","43,128.00"
3,2-26-18,Central,Timothy,David,Cell Phone,27.0,225.00,"6,075.00"
4,3-15-18,West,Timothy,Stephen,Television,56.0,"1,198.00","67,088.00"

In [3]:
#tail method

data.tail()

,OrderDate,Region,Manager,SalesMan,Item,Units,Unit_price,Sale_amt
40,11-17-19,Central,Hermann,Luis,Home Theater,11.0,500.00,"5,500.00"
41,12-4-19,Central,Hermann,Luis,Home Theater,94.0,500.00,"47,000.00"
42,12-21-19,Central,Martha,Steven,Home Theater,28.0,500.00,"14,000.00"
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#isnull
data.isnull().sum()

OrderDate       2
Region          2
Manager         2
SalesMan        2
Item            2
Units           2
 Unit_price     2
Sale_amt        2
dtype: int64

In [10]:
data.drop(3)

,OrderDate,Region,Manager,SalesMan,Item,Units,Unit_price,Sale_amt
0,1-6-18,East,Martha,Alexander,Television,95.0,"1,198.00","113,810.00"
1,1-23-18,Central,Hermann,Shelli,Home Theater,50.0,500.00,"25,000.00"
2,2-9-18,Central,Hermann,Luis,Television,36.0,"1,198.00","43,128.00"
4,3-15-18,West,Timothy,Stephen,Television,56.0,"1,198.00","67,088.00"
5,4-1-18,East,Martha,Alexander,Home Theater,60.0,500.00,"30,000.00"
6,4-18-18,Central,Martha,Steven,Television,75.0,"1,198.00","89,850.00"
7,5-5-18,Central,Hermann,Luis,Television,90.0,"1,198.00","107,820.00"
8,5-22-18,West,Douglas,Michael,Television,32.0,"1,198.00","38,336.00"
9,6-8-18,East,Martha,Alexander,Home Theater,60.0,500.00,"30,000.00"
10,6-25-18,Central,Hermann,Sigal,Television,90.0,"1,198.00","107,820.00"
11,7-12-18,East,Martha,Diana,Home Theater,29.0,500.00,"14,500.00"
12,7-29-18,East,Douglas,Karen,Home Theater,81.0,500.00,"40,500.00"
13,8-15-18,East,Martha,Alexander,Television,35.0,"1,198.00","41,930.00"
14,9-1-18,Central,Douglas,John,Desk,2.0,125.00,250.00
15,9-18-18,East,Martha,Alexander,Video Games,16.0,58.50,936.00
16,10-5-18,Central,Hermann,Sigal,Home Theater,28.0,500.00,"14,000.00"
17,10-22-18,East,Martha,Alexander,Cell Phone,64.0,225.00,"14,400.00"
18,11-8-18,East,Douglas,Karen,Cell Phone,15.0,225.00,"3,375.00"
19,11-25-18,Central,Hermann,Shelli,Video Games,96.0,58.50,"5,616.00"
20,12-12-18,Central,Douglas,John,Television,67.0,"1,198.00","80,266.00"
21,12-29-18,East,Douglas,Karen,Video Games,74.0,58.50,"4,329.00"
22,1-15-19,Central,Timothy,David,Home Theater,46.0,500.00,"23,000.00"
23,2-1-19,Central,Douglas,John,Home Theater,87.0,500.00,"43,500.00"
24,2-18-19,East,Martha,Alexander,Home Theater,4.0,500.00,"2,000.00"
25,3-7-19,West,Timothy,Stephen,Home Theater,7.0,500.00,"3,500.00"
26,3-24-19,Central,Hermann,Luis,Video Games,50.0,58.50,"2,925.00"
27,4-10-19,Central,Martha,Steven,Television,66.0,"1,198.00","79,068.00"
28,4-27-19,East,Martha,Diana,Cell Phone,96.0,225.00,"21,600.00"
29,5-14-19,Central,Timothy,David,Television,53.0,"1,198.00","63,494.00"
30,5-31-19,Central,Timothy,David,Home Theater,80.0,500.00,"40,000.00"
31,6-17-19,Central,Hermann,Shelli,Desk,5.0,125.00,625.00
32,7-4-19,East,Martha,Alexander,Video Games,62.0,58.50,"3,627.00"
33,7-21-19,Central,Hermann,Sigal,Video Games,55.0,58.50,"3,217.50"
34,8-7-19,Central,Hermann,Shelli,Video Games,42.0,58.50,"2,457.00"
35,8-24-19,West,Timothy,Stephen,Desk,3.0,125.00,375.00
36,9-10-19,Central,Timothy,David,Television,7.0,"1,198.00","8,386.00"
37,9-27-19,West,Timothy,Stephen,Cell Phone,76.0,225.00,"17,100.00"
38,10-14-19,West,Douglas,Michael,Home Theater,57.0,500.00,"28,500.00"
39,10-31-19,Central,Martha,Steven,Television,14.0,"1,198.00","16,772.00"
40,11-17-19,Central,Hermann,Luis,Home Theater,11.0,500.00,"5,500.00"
41,12-4-19,Central,Hermann,Luis,Home Theater,94.0,500.00,"47,000.00"
42,12-21-19,Central,Martha,Steven,Home Theater,28.0,500.00,"14,000.00"
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data.shape

(45, 8)

In [6]:
print(data.duplicated().sum())

1

In [7]:
import pandas as pd
data= pd.read_csv (r'C:\Users\RDP-1\Downloads\nithes fire mass pandas\landingcompany.csv')
data.to_json (r'C:\Users\RDP-1\Downloads\nithes fire mass pandas\new_landingcompany.json')

In [8]:
import pandas as pd
pd.read_json('new_landingcompany.json')

,OrderDate,Region,Manager,SalesMan,Item,Units,Unit_price,Sale_amt
0,1-6-18,East,Martha,Alexander,Television,95.0,"1,198.00","113,810.00"
1,1-23-18,Central,Hermann,Shelli,Home Theater,50.0,500.00,"25,000.00"
2,2-9-18,Central,Hermann,Luis,Television,36.0,"1,198.00","43,128.00"
3,2-26-18,Central,Timothy,David,Cell Phone,27.0,225.00,"6,075.00"
4,3-15-18,West,Timothy,Stephen,Television,56.0,"1,198.00","67,088.00"
5,4-1-18,East,Martha,Alexander,Home Theater,60.0,500.00,"30,000.00"
6,4-18-18,Central,Martha,Steven,Television,75.0,"1,198.00","89,850.00"
7,5-5-18,Central,Hermann,Luis,Television,90.0,"1,198.00","107,820.00"
8,5-22-18,West,Douglas,Michael,Television,32.0,"1,198.00","38,336.00"
9,6-8-18,East,Martha,Alexander,Home Theater,60.0,500.00,"30,000.00"
10,6-25-18,Central,Hermann,Sigal,Television,90.0,"1,198.00","107,820.00"
11,7-12-18,East,Martha,Diana,Home Theater,29.0,500.00,"14,500.00"
12,7-29-18,East,Douglas,Karen,Home Theater,81.0,500.00,"40,500.00"
13,8-15-18,East,Martha,Alexander,Television,35.0,"1,198.00","41,930.00"
14,9-1-18,Central,Douglas,John,Desk,2.0,125.00,250.00
15,9-18-18,East,Martha,Alexander,Video Games,16.0,58.50,936.00
16,10-5-18,Central,Hermann,Sigal,Home Theater,28.0,500.00,"14,000.00"
17,10-22-18,East,Martha,Alexander,Cell Phone,64.0,225.00,"14,400.00"
18,11-8-18,East,Douglas,Karen,Cell Phone,15.0,225.00,"3,375.00"
19,11-25-18,Central,Hermann,Shelli,Video Games,96.0,58.50,"5,616.00"
20,12-12-18,Central,Douglas,John,Television,67.0,"1,198.00","80,266.00"
21,12-29-18,East,Douglas,Karen,Video Games,74.0,58.50,"4,329.00"
22,1-15-19,Central,Timothy,David,Home Theater,46.0,500.00,"23,000.00"
23,2-1-19,Central,Douglas,John,Home Theater,87.0,500.00,"43,500.00"
24,2-18-19,East,Martha,Alexander,Home Theater,4.0,500.00,"2,000.00"
25,3-7-19,West,Timothy,Stephen,Home Theater,7.0,500.00,"3,500.00"
26,3-24-19,Central,Hermann,Luis,Video Games,50.0,58.50,"2,925.00"
27,4-10-19,Central,Martha,Steven,Television,66.0,"1,198.00","79,068.00"
28,4-27-19,East,Martha,Diana,Cell Phone,96.0,225.00,"21,600.00"
29,5-14-19,Central,Timothy,David,Television,53.0,"1,198.00","63,494.00"
30,5-31-19,Central,Timothy,David,Home Theater,80.0,500.00,"40,000.00"
31,6-17-19,Central,Hermann,Shelli,Desk,5.0,125.00,625.00
32,7-4-19,East,Martha,Alexander,Video Games,62.0,58.50,"3,627.00"
33,7-21-19,Central,Hermann,Sigal,Video Games,55.0,58.50,"3,217.50"
34,8-7-19,Central,Hermann,Shelli,Video Games,42.0,58.50,"2,457.00"
35,8-24-19,West,Timothy,Stephen,Desk,3.0,125.00,375.00
36,9-10-19,Central,Timothy,David,Television,7.0,"1,198.00","8,386.00"
37,9-27-19,West,Timothy,Stephen,Cell Phone,76.0,225.00,"17,100.00"
38,10-14-19,West,Douglas,Michael,Home Theater,57.0,500.00,"28,500.00"
39,10-31-19,Central,Martha,Steven,Television,14.0,"1,198.00","16,772.00"
40,11-17-19,Central,Hermann,Luis,Home Theater,11.0,500.00,"5,500.00"
41,12-4-19,Central,Hermann,Luis,Home Theater,94.0,500.00,"47,000.00"
42,12-21-19,Central,Martha,Steven,Home Theater,28.0,500.00,"14,000.00"
43,None,None,None,None,None,NaN,None,None
44,None,None,None,None,None,NaN,None,None

In [9]:
data = data.dropna(how='any',axis=0)

In [10]:
data.isnull().sum()

OrderDate       0
Region          0
Manager         0
SalesMan        0
Item            0
Units           0
 Unit_price     0
Sale_amt        0
dtype: int64

In [11]:
data.drop_duplicates(keep=False)

,OrderDate,Region,Manager,SalesMan,Item,Units,Unit_price,Sale_amt
0,1-6-18,East,Martha,Alexander,Television,95.0,"1,198.00","113,810.00"
1,1-23-18,Central,Hermann,Shelli,Home Theater,50.0,500.00,"25,000.00"
2,2-9-18,Central,Hermann,Luis,Television,36.0,"1,198.00","43,128.00"
3,2-26-18,Central,Timothy,David,Cell Phone,27.0,225.00,"6,075.00"
4,3-15-18,West,Timothy,Stephen,Television,56.0,"1,198.00","67,088.00"
5,4-1-18,East,Martha,Alexander,Home Theater,60.0,500.00,"30,000.00"
6,4-18-18,Central,Martha,Steven,Television,75.0,"1,198.00","89,850.00"
7,5-5-18,Central,Hermann,Luis,Television,90.0,"1,198.00","107,820.00"
8,5-22-18,West,Douglas,Michael,Television,32.0,"1,198.00","38,336.00"
9,6-8-18,East,Martha,Alexander,Home Theater,60.0,500.00,"30,000.00"
10,6-25-18,Central,Hermann,Sigal,Television,90.0,"1,198.00","107,820.00"
11,7-12-18,East,Martha,Diana,Home Theater,29.0,500.00,"14,500.00"
12,7-29-18,East,Douglas,Karen,Home Theater,81.0,500.00,"40,500.00"
13,8-15-18,East,Martha,Alexander,Television,35.0,"1,198.00","41,930.00"
14,9-1-18,Central,Douglas,John,Desk,2.0,125.00,250.00
15,9-18-18,East,Martha,Alexander,Video Games,16.0,58.50,936.00
16,10-5-18,Central,Hermann,Sigal,Home Theater,28.0,500.00,"14,000.00"
17,10-22-18,East,Martha,Alexander,Cell Phone,64.0,225.00,"14,400.00"
18,11-8-18,East,Douglas,Karen,Cell Phone,15.0,225.00,"3,375.00"
19,11-25-18,Central,Hermann,Shelli,Video Games,96.0,58.50,"5,616.00"
20,12-12-18,Central,Douglas,John,Television,67.0,"1,198.00","80,266.00"
21,12-29-18,East,Douglas,Karen,Video Games,74.0,58.50,"4,329.00"
22,1-15-19,Central,Timothy,David,Home Theater,46.0,500.00,"23,000.00"
23,2-1-19,Central,Douglas,John,Home Theater,87.0,500.00,"43,500.00"
24,2-18-19,East,Martha,Alexander,Home Theater,4.0,500.00,"2,000.00"
25,3-7-19,West,Timothy,Stephen,Home Theater,7.0,500.00,"3,500.00"
26,3-24-19,Central,Hermann,Luis,Video Games,50.0,58.50,"2,925.00"
27,4-10-19,Central,Martha,Steven,Television,66.0,"1,198.00","79,068.00"
28,4-27-19,East,Martha,Diana,Cell Phone,96.0,225.00,"21,600.00"
29,5-14-19,Central,Timothy,David,Television,53.0,"1,198.00","63,494.00"
30,5-31-19,Central,Timothy,David,Home Theater,80.0,500.00,"40,000.00"
31,6-17-19,Central,Hermann,Shelli,Desk,5.0,125.00,625.00
32,7-4-19,East,Martha,Alexander,Video Games,62.0,58.50,"3,627.00"
33,7-21-19,Central,Hermann,Sigal,Video Games,55.0,58.50,"3,217.50"
34,8-7-19,Central,Hermann,Shelli,Video Games,42.0,58.50,"2,457.00"
35,8-24-19,West,Timothy,Stephen,Desk,3.0,125.00,375.00
36,9-10-19,Central,Timothy,David,Television,7.0,"1,198.00","8,386.00"
37,9-27-19,West,Timothy,Stephen,Cell Phone,76.0,225.00,"17,100.00"
38,10-14-19,West,Douglas,Michael,Home Theater,57.0,500.00,"28,500.00"
39,10-31-19,Central,Martha,Steven,Television,14.0,"1,198.00","16,772.00"
40,11-17-19,Central,Hermann,Luis,Home Theater,11.0,500.00,"5,500.00"
41,12-4-19,Central,Hermann,Luis,Home Theater,94.0,500.00,"47,000.00"
42,12-21-19,Central,Martha,Steven,Home Theater,28.0,500.00,"14,000.00"

In [12]:
print(data.duplicated().sum())

0

In [13]:
data = pd.DataFrame(columns=('Time','age','country'))

In [14]:
import pandas as pd
df= pd.read_csv('landingcompany.csv')
data = {
    "OrderDate":["14-22-19"], 
    "Region":   ["West"], 
    "Manager":  ["jack"],  
    "SalesMan": ["nick"],
    "Item":     ["Laptop"],
    "Units" :   [70.5],
    "Unit_price":[3,45,000],
    "Sale_amt" :[55,000.00],
    
}

In [15]:


print(df)

   OrderDate   Region  Manager   SalesMan          Item  Units  Unit_price   \
0     1-6-18     East   Martha  Alexander    Television   95.0    1,198.00
1    1-23-18  Central  Hermann     Shelli  Home Theater   50.0      500.00
2     2-9-18  Central  Hermann       Luis    Television   36.0    1,198.00
3    2-26-18  Central  Timothy      David    Cell Phone   27.0      225.00
4    3-15-18     West  Timothy    Stephen    Television   56.0    1,198.00
5     4-1-18     East   Martha  Alexander  Home Theater   60.0      500.00
6    4-18-18  Central   Martha     Steven    Television   75.0    1,198.00
7     5-5-18  Central  Hermann       Luis    Television   90.0    1,198.00
8    5-22-18     West  Douglas    Michael    Television   32.0    1,198.00
9     6-8-18     East   Martha  Alexander  Home Theater   60.0      500.00
10   6-25-18  Central  Hermann      Sigal    Television   90.0    1,198.00
11   7-12-18     East   Martha      Diana  Home Theater   29.0      500.00
12   7-29-18     East  Douglas      Karen  Home Theater   81.0      500.00
13   8-15-18     East   Martha  Alexander    Television   35.0    1,198.00
14    9-1-18  Central  Douglas       John          Desk    2.0      125.00
15   9-18-18     East   Martha  Alexander   Video Games   16.0       58.50
16   10-5-18  Central  Hermann      Sigal  Home Theater   28.0      500.00
17  10-22-18     East   Martha  Alexander    Cell Phone   64.0      225.00
18   11-8-18     East  Douglas      Karen    Cell Phone   15.0      225.00
19  11-25-18  Central  Hermann     Shelli   Video Games   96.0       58.50
20  12-12-18  Central  Douglas       John    Television   67.0    1,198.00
21  12-29-18     East  Douglas      Karen   Video Games   74.0       58.50
22   1-15-19  Central  Timothy      David  Home Theater   46.0      500.00
23    2-1-19  Central  Douglas       John  Home Theater   87.0      500.00
24   2-18-19     East   Martha  Alexander  Home Theater    4.0      500.00
25    3-7-19     West  Timothy    Stephen  Home Theater    7.0      500.00
26   3-24-19  Central  Hermann       Luis   Video Games   50.0       58.50
27   4-10-19  Central   Martha     Steven    Television   66.0    1,198.00
28   4-27-19     East   Martha      Diana    Cell Phone   96.0      225.00
29   5-14-19  Central  Timothy      David    Television   53.0    1,198.00
30   5-31-19  Central  Timothy      David  Home Theater   80.0      500.00
31   6-17-19  Central  Hermann     Shelli          Desk    5.0      125.00
32    7-4-19     East   Martha  Alexander   Video Games   62.0       58.50
33   7-21-19  Central  Hermann      Sigal   Video Games   55.0       58.50
34    8-7-19  Central  Hermann     Shelli   Video Games   42.0       58.50
35   8-24-19     West  Timothy    Stephen          Desk    3.0      125.00
36   9-10-19  Central  Timothy      David    Television    7.0    1,198.00
37   9-27-19     West  Timothy    Stephen    Cell Phone   76.0      225.00
38  10-14-19     West  Douglas    Michael  Home Theater   57.0      500.00
39  10-31-19  Central   Martha     Steven    Television   14.0    1,198.00
40  11-17-19  Central  Hermann       Luis  Home Theater   11.0      500.00
41   12-4-19  Central  Hermann       Luis  Home Theater   94.0      500.00
42  12-21-19  Central   Martha     Steven  Home Theater   28.0      500.00
43       NaN      NaN      NaN        NaN           NaN    NaN          NaN
44       NaN      NaN      NaN        NaN           NaN    NaN          NaN

        Sale_amt
0    113,810.00
1     25,000.00
2     43,128.00
3      6,075.00
4     67,088.00
5     30,000.00
6     89,850.00
7    107,820.00
8     38,336.00
9     30,000.00
10   107,820.00
11    14,500.00
12    40,500.00
13    41,930.00
14       250.00
15       936.00
16    14,000.00
17    14,400.00
18     3,375.00
19     5,616.00
20    80,266.00
21     4,329.00
22    23,000.00
23    43,500.00
24     2,000.00
25     3,500.00
26     2,925.00
27    79,068.00
28    21,600.00
29    63,494.00
30    40,000.00
31       625.00
32     3,627.00
33     3,217.50
34     2,457.00
35       375.00
36     8,386.00
37    17,100.00
38    28,500.00
39    16,772.00
40     5,500.00
41    47,000.00
42    14,000.00
43           NaN
44           NaN

In [16]:
len(data)

8

In [17]:
from sqlalchemy import create_engine
engine = create_engine('mysql+mysqldb://username:password@localhost/data')

In [18]:
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://username:password@localhost/data')

In [19]:
import pandas as pd
data = {'Name': ['John', 'Anna', 'Peter', 'Linda'],
        'Age': [28, 24, 35, 32],
        'City': ['New York', 'Paris', 'Berlin', 'London']}
df = pd.DataFrame(data)
print(df)

    Name  Age      City
0   John   28  New York
1   Anna   24     Paris
2  Peter   35    Berlin
3  Linda   32    London

In [20]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///:memory:')

In [21]:
df.to_sql('People', con=engine, if_exists='replace', index=False)

4

In [22]:
result_df = pd.read_sql('People', con=engine)
print(result_df)

    Name  Age      City
0   John   28  New York
1   Anna   24     Paris
2  Peter   35    Berlin
3  Linda   32    London